
*.pyc
*~
__pycache__

# media 
.media
media/
photos/

# Env
.env
venv/


db.sqlite3

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace