
  <!-- في المكان ده هحط footer -->
      <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2020-2021 <a target="_blank" href="https://www.facebook.com/omar.ehap.7/">Omar Ehab</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <a target="_blank"  href="https://twitter.com/omarehab177"><i class="fab fa-lg fa-twitter"></i></a>
        <a target="_blank" href="https://www.facebook.com/omar.ehap.7/"><i class="fab fa-lg ml-1 fa-facebook"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/omar-ehab-365343201/"><i class="fab fa-lg ml-1 fa-linkedin"></i></a>
    </div>
  </footer>